.box-rune {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: var(--primary-foreground-color);
    user-select: none;

    .glyph {
        width: 1.6rem;
        height: 2.6rem;
        fill: none;
        stroke: var(--primary-accent-color);
        stroke-width: 9;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}
